#one{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: blueviolet;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 5px;

}
#two{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color:white;
    margin-top:10px;
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 5px;
}
#three{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color:green;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 5px;
}
h1{
    color: yellow;
    padding-left: 40px;
}
img{
padding-left: 40px;
padding-bottom: 10px;
}
div{
    background-color: darkseagreen;
   color: aqua;
}
a{
    margin-left: 60px;
    text-decoration: none;
    margin-bottom: 30px;
}
input{
    padding-left: 50px;
    border-left: 50px;
}
#one{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: blue;
    margin: 20px;
    padding: 20px;
}
#two{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: blue;
    margin: 20px;
    padding: 20px;

}